html {
	margin:0px;
	padding:0px;
}

body {
	margin:0px;
	padding:0px;
	overflow:hidden;
	background:@@B;
}

#game {
	background:black;
	width:100vw;
	max-width:100vh;
	margin:auto;
	display:block;
}

#sceneCanvas {
	background:@@BB;
}

#transitionMatte {
	pointer-events: none;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	height: 100%;
	aspect-ratio: 1 / 1;

	opacity: 0;
	transition: opacity .5s;
}